<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MSAppCenter310AppCenterUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310CrashesUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenterAppDidReceiveMemoryWarning</key>
	<true/>
	<key>MSAppCenterInstallId</key>
	<string>0E901A21-5A94-4CCA-9C5B-A607930B189D</string>
	<key>MSAppCenterNetworkRequestsAllowed</key>
	<false/>
	<key>MSAppCenterPastDevices</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBULDBIYHCJQUVJTVFVWV1hZ
	WltcYWZVJG51bGzSDQ4PEVpOUy5vYmplY3RzViRjbGFzc6EQgAKAFNMTFA4VFhdcdGlt
	ZXN0YW1wS2V5WWRldmljZUtleYADgAWAE9IZDhobV05TLnRpbWUjQcfGkWnlHrCABNId
	Hh8gWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNEYXRloh8hWE5TT2JqZWN03xAXIyQlJg4n
	KCkqKywtLi8wMTIzNDU2Nzg5Ojs8PTs8PEFCPDw8PEdISUo8PE1OT1lvc1ZlcnNpb25e
	dGltZVpvbmVPZmZzZXRYYXBwQnVpbGRfEBVsaXZlVXBkYXRlUGFja2FnZUhhc2haYXBw
	VmVyc2lvbl8QEXdyYXBwZXJTZGtWZXJzaW9uW2NhcnJpZXJOYW1lV3Nka05hbWVWbG9j
	YWxlXxAXbGl2ZVVwZGF0ZURlcGxveW1lbnRLZXleY2FycmllckNvdW50cnlab3NBcGlM
	ZXZlbF53cmFwcGVyU2RrTmFtZVdvZW1OYW1lWnNka1ZlcnNpb25cYXBwTmFtZXNwYWNl
	VW1vZGVsXxAVd3JhcHBlclJ1bnRpbWVWZXJzaW9uXxAWbGl2ZVVwZGF0ZVJlbGVhc2VM
	YWJlbFpzY3JlZW5TaXplVm9zTmFtZVdvc0J1aWxkgAuADoAQgACAEoAQgACAAIAGgA2A
	AIAAgACAAIAJgAeAEYAIgACAAIAPgAqADF8QD2FwcGNlbnRlci5tYWNvc1U0LjMuMFdN
	YWMxNyw5VUFwcGxlVW1hY09TVjI2LjQuMVYyNUUyNTNVZW5fVVMT/////////xBYMTUx
	Mng5ODJXMTAuMTEuMF8QGGNvbS5sd291aXMuYWx0LXRhYi1tYWNvc9IdHl1eWk1TQUNE
	ZXZpY2WjX2AhWk1TQUNEZXZpY2VeTVNBQ1dyYXBwZXJTZGvSHR5iY18QFU1TQUNEZXZp
	Y2VIaXN0b3J5SW5mb6NkZSFfEBVNU0FDRGV2aWNlSGlzdG9yeUluZm9fEA9NU0FDSGlz
	dG9yeUluZm/SHR5naF5OU011dGFibGVBcnJheaNnaSFXTlNBcnJheQAIABEAGgAkACkA
	MgA3AEkATABRAFMAawBxAHYAgQCIAIoAjACOAJUAogCsAK4AsACyALcAvwDIAMoAzwDa
	AOMA6gDtAPYBJwExAUABSQFhAWwBgAGMAZQBmwG1AcQBzwHeAeYB8QH+AgQCHAI1AkAC
	RwJPAlECUwJVAlcCWQJbAl0CXwJhAmMCZQJnAmkCawJtAm8CcQJzAnUCdwJ5AnsCfQKP
	ApUCnQKjAqkCsAK3Ar0CxgLPAtcC8gL3AwIDBgMRAyADJQM9A0EDWQNrA3ADfwODAAAA
	AAAAAgEAAAAAAAAAagAAAAAAAAAAAAAAAAAAA4s=
	</data>
	<key>MSAppCenterSessionIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlcc2Vzc2lv
	bklkS2V5gAOAAIAF0hkOGhtXTlMudGltZSNBx8aRaeF1l4AE0h0eHyBaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFk1TQUNTZXNzaW9uSGlz
	dG9yeUluZm+jJSYhXxAWTVNBQ1Nlc3Npb25IaXN0b3J5SW5mb18QD01TQUNIaXN0b3J5
	SW5mb9IdHigpXk5TTXV0YWJsZUFycmF5oygqIVdOU0FycmF5AAgAEQAaACQAKQAyADcA
	SQBMAFEAUwBbAGEAZgBxAHgAegB8AH4AhQCSAJ8AoQCjAKUAqgCyALsAvQDCAM0A1gDd
	AOAA6QDuAQcBCwEkATYBOwFKAU4AAAAAAAACAQAAAAAAAAArAAAAAAAAAAAAAAAAAAAB
	Vg==
	</data>
	<key>MSAppCenterUserIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlZdXNlcklk
	S2V5gAOAAIAF0hkOGhtXTlMudGltZSNBx8aRaeGz+oAE0h0eHyBaJGNsYXNzbmFtZVgk
	Y2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFU1TQUNVc2VySWRIaXN0b3J5
	SW5mb6MlJiFfEBVNU0FDVXNlcklkSGlzdG9yeUluZm9fEA9NU0FDSGlzdG9yeUluZm/S
	HR4oKV5OU011dGFibGVBcnJheaMoKiFXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABR
	AFMAWwBhAGYAcQB4AHoAfAB+AIUAkgCcAJ4AoACiAKcArwC4ALoAvwDKANMA2gDdAOYA
	6wEDAQcBHwExATYBRQFJAAAAAAAAAgEAAAAAAAAAKwAAAAAAAAAAAAAAAAAAAVE=
	</data>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{1008, 642}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va/gCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAANgBAAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAABAAAAAEB
	AABhbmR5BAAAAAEBAABjb2RlEAAAAAEBAABtYWMtd2FydC1yZW1vdmFsBwAAAAEBAABj
	b25maWdzABQAAAABBgAAEAAAACAAAAAsAAAAOAAAAFAAAAAIAAAABAMAAABIAAAAAAAA
	CAAAAAQDAACyjQ4AAAAAAAgAAAAEAwAAYlAbAAAAAAAIAAAABAMAAJ1pHAAAAAAACAAA
	AAQDAACJVn0AAAAAABQAAAABBgAAfAAAAIwAAACcAAAArAAAALwAAAAIAAAAAAQAAEHH
	zK2VBxbxGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAAE
	AwAAAwAAAAAAAAAEAAAAAwMAAPYBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
	bnRvc2ggSEQIAAAABAMAAACQYpPnAAAACAAAAAAEAABBx8HRCIAAACQAAAABAQAANDU3
	M0UwOTItRkU5MS00MjMyLThGOEItNzYyNjBDNkY5MjhGGAAAAAECAACBAAAAAQAAAO8T
	AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAADYAAAA/v///wEAAAAAAAAAEQAAAAQQAABg
	AAAAAAAAAAUQAADMAAAAAAAAABAQAAD4AAAAAAAAAEAQAADoAAAAAAAAAAIgAADMAQAA
	AAAAAAUgAAA8AQAAAAAAABAgAABMAQAAAAAAABEgAACAAQAAAAAAABIgAABgAQAAAAAA
	ABMgAABwAQAAAAAAACAgAACsAQAAAAAAADAgAAAYAQAAAAAAAAHAAAAgAQAAAAAAABHA
	AAAgAAAAAAAAABLAAAAwAQAAAAAAAAHQAAAYAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>758</real>
	<key>NSWindow Frame AboutWindow</key>
	<string>980 702 617 474 0 0 1512 949 </string>
	<key>NSWindow Frame NSFontPanel</key>
	<string>2046 104 445 235 0 0 2560 1415 </string>
	<key>NSWindow Frame SUAutomaticUpdateAlert</key>
	<string>972 926 616 180 0 0 2560 1415 </string>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>1080 953 400 139 0 0 2560 1410 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>407 240 698 628 0 0 1512 949 </string>
	<key>NSWindow Frame SettingsWindow</key>
	<string>718 429 918 780 0 0 2560 1410 </string>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2026-04-17T14:38:42Z</date>
	<key>SUUpdateGroupIdentifier</key>
	<integer>3197719868</integer>
	<key>SUUpdateRelaunchingMarker</key>
	<false/>
	<key>appearanceSize</key>
	<string>1</string>
	<key>appearanceStyle</key>
	<string>0</string>
	<key>appearanceVisibility</key>
	<string>0</string>
	<key>appsToShow2</key>
	<string>1</string>
	<key>appsToShow3</key>
	<string>0</string>
	<key>appsToShow4</key>
	<string>1</string>
	<key>crashPolicy</key>
	<string>1</string>
	<key>hideColoredCircles</key>
	<string>false</string>
	<key>hideStatusIcons</key>
	<string>false</string>
	<key>hideWindowlessApps</key>
	<string>true</string>
	<key>holdShortcut</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhsc
		VSRudWxs1g0ODxAREhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVy
		c0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
		dmVyc2lvboAEgACABYAAgAOAAlExEf//EgAQAADSHR4fIFokY2xhc3NuYW1l
		WCRjbGFzc2VzWlNSU2hvcnRjdXSiHyFYTlNPYmplY3QACAARABoAJAApADIA
		NwBJAEwAUQBTAFoAYABtAHsAmQCgAKsAswC7AL0AvwDBAMMAxQDHAMkAzADR
		ANYA4QDqAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAAAAAAAAAAAAAAAAEB
		</data>
		<key>string</key>
		<string>⌘</string>
	</dict>
	<key>holdShortcut2</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhsc
		VSRudWxs1g0ODxAREhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVy
		c0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
		dmVyc2lvboAEgACABYAAgAOAAlExEf//EgAQAADSHR4fIFokY2xhc3NuYW1l
		WCRjbGFzc2VzWlNSU2hvcnRjdXSiHyFYTlNPYmplY3QACAARABoAJAApADIA
		NwBJAEwAUQBTAFoAYABtAHsAmQCgAKsAswC7AL0AvwDBAMMAxQDHAMkAzADR
		ANYA4QDqAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAAAAAAAAAAAAAAAAEB
		</data>
		<key>string</key>
		<string>⌘</string>
	</dict>
	<key>holdShortcut3</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhsc
		VSRudWxs1g0ODxAREhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVy
		c0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
		dmVyc2lvboAEgACABYAAgAOAAlExEf//EgAIAADSHR4fIFokY2xhc3NuYW1l
		WCRjbGFzc2VzWlNSU2hvcnRjdXSiHyFYTlNPYmplY3QACAARABoAJAApADIA
		NwBJAEwAUQBTAFoAYABtAHsAmQCgAKsAswC7AL0AvwDBAMMAxQDHAMkAzADR
		ANYA4QDqAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAAAAAAAAAAAAAAAAEB
		</data>
		<key>string</key>
		<string>⌥</string>
	</dict>
	<key>holdShortcut4</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwZGhsc
		HVUkbnVsbNYNDg8QERITFBUUFxhdbW9kaWZpZXJGbGFnc18QG2NoYXJhY3Rl
		cnNJZ25vcmluZ01vZGlmaWVyc1YkY2xhc3NaY2hhcmFjdGVyc1drZXlDb2Rl
		V3ZlcnNpb26ABIAFgAaABYADgAJRMRH//xIACAAAUNIeHyAhWiRjbGFzc25h
		bWVYJGNsYXNzZXNaU1JTaG9ydGN1dKIgIlhOU09iamVjdAAIABEAGgAkACkA
		MgA3AEkATABRAFMAWwBhAG4AfACaAKEArAC0ALwAvgDAAMIAxADGAMgAygDN
		ANIA0wDYAOMA7AD3APoAAAAAAAACAQAAAAAAAAAjAAAAAAAAAAAAAAAAAAAB
		Aw==
		</data>
		<key>string</key>
		<string>⌥</string>
	</dict>
	<key>menubarIcon</key>
	<string>0</string>
	<key>mouseHoverEnabled</key>
	<string>true</string>
	<key>nextWindowShortcut2</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwZGhsc
		HVUkbnVsbNYNDg8QERITFBUUFxhdbW9kaWZpZXJGbGFnc18QG2NoYXJhY3Rl
		cnNJZ25vcmluZ01vZGlmaWVyc1YkY2xhc3NaY2hhcmFjdGVyc1drZXlDb2Rl
		V3ZlcnNpb26ABIAFgAaABYADgAJRMRAyEABRYNIeHyAhWiRjbGFzc25hbWVY
		JGNsYXNzZXNaU1JTaG9ydGN1dKIgIlhOU09iamVjdAAIABEAGgAkACkAMgA3
		AEkATABRAFMAWwBhAG4AfACaAKEArAC0ALwAvgDAAMIAxADGAMgAygDMAM4A
		0ADVAOAA6QD0APcAAAAAAAACAQAAAAAAAAAjAAAAAAAAAAAAAAAAAAABAA==
		</data>
		<key>string</key>
		<string>`</string>
	</dict>
	<key>nextWindowShortcut3</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwZGhsc
		HVUkbnVsbNYNDg8QERITFBUUFxhdbW9kaWZpZXJGbGFnc18QG2NoYXJhY3Rl
		cnNJZ25vcmluZ01vZGlmaWVyc1YkY2xhc3NaY2hhcmFjdGVyc1drZXlDb2Rl
		V3ZlcnNpb26ABIAFgAaABYADgAJRMRAwEABRCdIeHyAhWiRjbGFzc25hbWVY
		JGNsYXNzZXNaU1JTaG9ydGN1dKIgIlhOU09iamVjdAAIABEAGgAkACkAMgA3
		AEkATABRAFMAWwBhAG4AfACaAKEArAC0ALwAvgDAAMIAxADGAMgAygDMAM4A
		0ADVAOAA6QD0APcAAAAAAAACAQAAAAAAAAAjAAAAAAAAAAAAAAAAAAABAA==
		</data>
		<key>string</key>
		<string>⇥</string>
	</dict>
	<key>nextWindowShortcut4</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwZGhsc
		HVUkbnVsbNYNDg8QERITFBUUFxhdbW9kaWZpZXJGbGFnc18QG2NoYXJhY3Rl
		cnNJZ25vcmluZ01vZGlmaWVyc1YkY2xhc3NaY2hhcmFjdGVyc1drZXlDb2Rl
		V3ZlcnNpb26ABIAFgAaABYADgAJRMRAyEABRYNIeHyAhWiRjbGFzc25hbWVY
		JGNsYXNzZXNaU1JTaG9ydGN1dKIgIlhOU09iamVjdAAIABEAGgAkACkAMgA3
		AEkATABRAFMAWwBhAG4AfACaAKEArAC0ALwAvgDAAMIAxADGAMgAygDMAM4A
		0ADVAOAA6QD0APcAAAAAAAACAQAAAAAAAAAjAAAAAAAAAAAAAAAAAAABAA==
		</data>
		<key>string</key>
		<string>`</string>
	</dict>
	<key>preferencesVersion</key>
	<string>10.11.0</string>
	<key>previewFocusedWindow</key>
	<string>true</string>
	<key>settingsWindowShownOnFirstLaunch</key>
	<string>true</string>
	<key>shortcutCount</key>
	<string>4</string>
	<key>showHiddenWindows</key>
	<string>1</string>
	<key>showHiddenWindows2</key>
	<string>1</string>
	<key>showHiddenWindows3</key>
	<string>2</string>
	<key>showHiddenWindows4</key>
	<string>2</string>
	<key>showMinimizedWindows</key>
	<string>1</string>
	<key>showMinimizedWindows2</key>
	<string>1</string>
	<key>showMinimizedWindows3</key>
	<string>2</string>
	<key>showMinimizedWindows4</key>
	<string>2</string>
	<key>showWindowlessApps</key>
	<integer>1</integer>
	<key>showWindowlessApps10</key>
	<string>1</string>
	<key>showWindowlessApps2</key>
	<integer>1</integer>
	<key>showWindowlessApps3</key>
	<integer>1</integer>
	<key>showWindowlessApps4</key>
	<string>1</string>
	<key>spacesToShow</key>
	<string>1</string>
	<key>spacesToShow2</key>
	<string>1</string>
	<key>spacesToShow3</key>
	<string>0</string>
	<key>updatePolicy</key>
	<string>2</string>
	<key>windowOrder</key>
	<string>0</string>
</dict>
</plist>
