<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>71E8552D-5E0C-49A9-BA0D-07E6D933821C_details</key>
	<true/>
	<key>Battery_barChart_position</key>
	<integer>3</integer>
	<key>Battery_batteryDetails_position</key>
	<integer>4</integer>
	<key>Battery_battery_position</key>
	<integer>0</integer>
	<key>Battery_label_position</key>
	<integer>1</integer>
	<key>Battery_mini_position</key>
	<integer>2</integer>
	<key>Battery_widget</key>
	<string></string>
	<key>CPU_barChart_position</key>
	<integer>1</integer>
	<key>CPU_label_position</key>
	<integer>3</integer>
	<key>CPU_lineChart_position</key>
	<integer>0</integer>
	<key>CPU_line_chart_color</key>
	<string>secondBlue</string>
	<key>CPU_line_chart_label</key>
	<false/>
	<key>CPU_mini_position</key>
	<integer>2</integer>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_widget</key>
	<string>line_chart</string>
	<key>CombinedModules</key>
	<false/>
	<key>CombinedModules_popup</key>
	<false/>
	<key>CombinedModules_separator</key>
	<false/>
	<key>CombinedModules_spacing</key>
	<string>1</string>
	<key>Disk_barChart_position</key>
	<integer>4</integer>
	<key>Disk_label_position</key>
	<integer>7</integer>
	<key>Disk_memory_orderReversed</key>
	<false/>
	<key>Disk_memory_position</key>
	<integer>5</integer>
	<key>Disk_mini_position</key>
	<integer>6</integer>
	<key>Disk_networkChart_position</key>
	<integer>0</integer>
	<key>Disk_oneView</key>
	<true/>
	<key>Disk_pieChart_position</key>
	<integer>3</integer>
	<key>Disk_readColor</key>
	<string>secondBlue</string>
	<key>Disk_reverseOrder</key>
	<true/>
	<key>Disk_speed_displayValue</key>
	<string>io</string>
	<key>Disk_speed_downloadColor</key>
	<string>secondBlue</string>
	<key>Disk_speed_icon</key>
	<string>chars</string>
	<key>Disk_speed_mode</key>
	<string>twoRows</string>
	<key>Disk_speed_monochrome</key>
	<false/>
	<key>Disk_speed_position</key>
	<integer>1</integer>
	<key>Disk_speed_uploadColor</key>
	<string>orange</string>
	<key>Disk_text_position</key>
	<integer>2</integer>
	<key>Disk_updateInterval</key>
	<integer>1</integer>
	<key>Disk_widget</key>
	<string>network_chart</string>
	<key>Disk_writeColor</key>
	<string>orange</string>
	<key>GPU_barChart_position</key>
	<integer>3</integer>
	<key>GPU_label_position</key>
	<integer>2</integer>
	<key>GPU_lineChart_position</key>
	<integer>0</integer>
	<key>GPU_line_chart_color</key>
	<string>magenta</string>
	<key>GPU_mini_position</key>
	<integer>1</integer>
	<key>GPU_state</key>
	<false/>
	<key>GPU_tachometer_position</key>
	<integer>4</integer>
	<key>GPU_widget</key>
	<string>line_chart</string>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{842, 296}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSStatusItem Preferred Position Battery</key>
	<real>969</real>
	<key>NSStatusItem Preferred Position CPU</key>
	<real>917</real>
	<key>NSStatusItem Preferred Position CPU_line_chart</key>
	<real>523</real>
	<key>NSStatusItem Preferred Position Disk</key>
	<real>375</real>
	<key>NSStatusItem Preferred Position Network</key>
	<real>425</real>
	<key>NSStatusItem Preferred Position RAM_line_chart</key>
	<real>475</real>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame GoToSheet</key>
	<string>1050 860 460 215 0 0 2560 1410 </string>
	<key>NSWindow Frame eu.exelban.Stats.Settings.WindowFrame</key>
	<string>948 323 1032 949 0 0 2560 1410 </string>
	<key>Network_base</key>
	<string>byte</string>
	<key>Network_downloadColor</key>
	<string>secondBlue</string>
	<key>Network_interfaceDetails</key>
	<false/>
	<key>Network_label_position</key>
	<integer>1</integer>
	<key>Network_networkChart_position</key>
	<integer>0</integer>
	<key>Network_network_chart_box</key>
	<true/>
	<key>Network_network_chart_downloadColor</key>
	<string>secondBlue</string>
	<key>Network_network_chart_frame</key>
	<false/>
	<key>Network_network_chart_label</key>
	<false/>
	<key>Network_network_chart_uploadColor</key>
	<string>magenta</string>
	<key>Network_oneView</key>
	<true/>
	<key>Network_publicIPRefreshInterval</key>
	<string>never</string>
	<key>Network_speed_downloadColor</key>
	<string>secondGreen</string>
	<key>Network_speed_icon</key>
	<string>dots</string>
	<key>Network_speed_monochrome</key>
	<false/>
	<key>Network_speed_position</key>
	<integer>2</integer>
	<key>Network_speed_uploadColor</key>
	<string>cyan</string>
	<key>Network_state_position</key>
	<integer>4</integer>
	<key>Network_text_position</key>
	<integer>3</integer>
	<key>Network_updateICMPInterval</key>
	<integer>30</integer>
	<key>Network_uploadColor</key>
	<string>magenta</string>
	<key>Network_widget</key>
	<string>network_chart</string>
	<key>Network_widgetActivationThreshold</key>
	<integer>50</integer>
	<key>Network_widgetActivationThresholdSize</key>
	<string>KB</string>
	<key>Network_widgetActivationThresholdState</key>
	<true/>
	<key>RAM_barChart_position</key>
	<integer>1</integer>
	<key>RAM_label_position</key>
	<integer>4</integer>
	<key>RAM_lineChart_position</key>
	<integer>0</integer>
	<key>RAM_line_chart_color</key>
	<string>secondGreen</string>
	<key>RAM_line_chart_label</key>
	<false/>
	<key>RAM_memory_position</key>
	<integer>5</integer>
	<key>RAM_mini_position</key>
	<integer>3</integer>
	<key>RAM_oneView</key>
	<false/>
	<key>RAM_pieChart_position</key>
	<integer>2</integer>
	<key>RAM_state_position</key>
	<integer>8</integer>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_text_position</key>
	<integer>7</integer>
	<key>RAM_widget</key>
	<string>line_chart</string>
	<key>SSD_bar_chart_label</key>
	<false/>
	<key>SSD_network_chart_box</key>
	<true/>
	<key>SSD_network_chart_downloadColor</key>
	<string>secondBlue</string>
	<key>SSD_network_chart_frame</key>
	<false/>
	<key>SSD_network_chart_label</key>
	<false/>
	<key>SSD_network_chart_reverseOrder</key>
	<true/>
	<key>SSD_network_chart_uploadColor</key>
	<string>orange</string>
	<key>dockIcon</key>
	<true/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1776263719</integer>
	<key>update-interval</key>
	<string>Once per week</string>
	<key>updater_check_ts</key>
	<integer>1776789993</integer>
	<key>version</key>
	<string>2.12.11</string>
</dict>
</plist>
